<h4>Error interno del servidor - Recargar la pagina podria hacer que el error desaparezca</h4>
<ng-container *ngIf="error">
    <h5 class='text-danger'>Error: {{error.message}}</h5>
    <p class="font-weight-bold">PD: Si estás viendo esto, es probable que Angular no tenga la culpa.</p>
    <p>¿Que hacer ahora?</p>
    <ol>
        <li>Abre chrome dev tools</li>
        <li>Mirar la tabla network </li>
        <li>Revisar las peticiones fallidas</li>
        <li>Examinar la peticion URL - asegurese que es la correcta </li>
        <li>Reproduce el error en Postman - si vemos la misma respuesta, entonces el problema no es con Angular</li>
    </ol>
    <p>El siguiente es el seguimiento de la pila: ¡aquí es donde debe comenzar su investigación!</p>
    <code class="mt-5" style="background-color: whitesmoke;">{{error.details}}</code>
</ng-container>